nav {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.nav-button {
  background-color: #222;
  color: #0f0;
  border: 1px solid #0f0;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2em;
  transition: background 0.3s, color 0.3s;
}

.nav-button:hover {
  background-color: #0f0;
  color: #000;
}
body {
  background-color: #000;
  color: #0f0;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url("img/axis-symbol.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  height: 100vh;
  overflow: hidden;
}

